<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Автомобильные инциденты</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Главная <span class="sr-only"></span></a>
        <a class="nav-item nav-link" th:href="@{/createAccident}">Добавить инцидент</a>
                <div th:text="${user}"></div>
    </div>
</div>
</nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Наименование заявки</th>
                <th scope="col">Адрес</th>
                <th scope="col">Тип инцидента</th>
                <th scope="col">Cтатьи</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accident: ${accidents}">
                <td>
                    <a th:href="@{|/formUpdateAccident?id=${accident.id}|}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <span th:text="${accident.name}"></span>
                    <details>
                        <p><em><summary>Подробное описание</summary></em></p>
                        <span th:text="${accident.text}"></span>
                    </details>
                </td>
                <td>
                    <span th:text="${accident.address}"></span>
                </td>
                <td>
                    <span th:text="${accident.type.name}"></span>
                </td>
                <td th:text="${#strings.listJoin(accident.rules.![name], ', ')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>